* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bar-brand {
  font-size: 4vh;
}

.log-in-btn {
  padding: 1px;
  color: white;
  background: transparent;
  border: 2px solid #f64c72;
}
.splits-link-btn {
  padding: 2px;
  color: white;
  background: #f64c72;
  border-color: #f64c72;
}

.bill-setter-div {
}

.splitter-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  padding: 1em;
}

.add-btn-col {
  border-color: #f64c719f;
}

.add-btn-div {
  padding: 5px;
  color: white;
}

.splits-link-btn:hover,
.log-in-btn:hover {
  color: white;
}

.splits-div-card {
  margin: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.splits-div-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.splitter-form-div {
  display: flex;
}
.splitter-form {
  padding: 1em;
}

.splitter-form-group {
  margin-top: 2em;
}

.splitter-labels {
  font-size: 3.5vh;
  font-weight: 400;
}

.split-btn {
  margin: 1em;
  background: rgb(246, 76, 114);
  background: linear-gradient(
    90deg,
    rgba(246, 76, 114, 1) 0%,
    rgba(246, 170, 76, 1) 100%,
    rgba(246, 76, 114, 1) 100%
  );
  padding: 5px 10px;
  border: none;
  float: right;
}

@media only screen and (max-width: 768px) {
  .splitter-form {
    margin-top: 5vh;
    min-width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}
